@import "tailwindcss";
@plugin "daisyui";

/* .active{
    color: red;
    font-weight: bold;
} */


body{
    font-family: "Poppins", sans-serif;
}
.head{
    background-color: #EDF2EE;
    height: 42px;

}

.hero{
    background-image: url(src/assets/BG.png);
    background-repeat: no-repeat;
}

.stat{
    background-image: url(../src/assets/bg-stat.png);
    background-repeat: no-repeat;
}
.best-sale{
    background-image: url(../src/assets/stat2.png);
    background-repeat: no-repeat;

}
.best-sale2{
    background-image: url(../src/assets/stat.png);
    background-repeat: no-repeat;

}

.hot{
    background-image: url(../src/assets/bestDeals/Rectangle\ 54.png);
    background-repeat: no-repeat;

}
.latest{
    background-image: url(../src/assets/news/BG.png);
    background-repeat: no-repeat;

}
.customer{
    background-image: url(../src/assets/cus.png);
    background-repeat: no-repeat;

}

.footer1{
    background-image: url(../src/assets/footer/BG.png);
    background-repeat: no-repeat;

}

